.fondo {
    background-color: #fff;
}

#card-login {
    margin-top: 8%;
}

.slot {
    margin-top: 2%;
}

.card-menu {
    width: 402px;
    height: 160px;
    text-align: center;
    text-decoration: none;
    border-left: 4px solid black;
    background-color: #fff;
    margin-left: 10px;
    margin-top: 1%;
}

.card-menu-title {
    font-size: 18px;
    color: black;
    line-height: 130px;
}

.card-menu:hover {
    background-color: #A9CCE3;
    color: white;
    animation: normal;
    border-left: 4px solid #A9CCE3;
}

.space-btn {
    width: 80px;
    margin-left: 2px;
}

.card-create {
    width: 450px;
}

.btn-eye {
    width: 40px;
    margin-left: 2px;
    border-color: #E5E7E9;
}

.btn-eye:hover {
    border-color: #E5E7E9;
}

@media only screen and (min-width: 600px) {
    .card-menu{
        width: 302px;
        height: 160px;
    }
    #card-login{
        width: 502px;
    }
}